doctype html
html(lang = "fr")
    head
        meta(charset='utf-8')
        title 
            block title

    body 
        header
            
            nav
                ul
                    li
                        a(href="") Accueil
              
                    li
                        a(href="Qui-sommes-nous.pug") Qui sommes nous ?
              

                    li
                        a(href="") Nos services

    main 
        block content 

    footer 
        p Be Biker
        p 143,avenue de Versailles
        p 75016 Paris
        p contact@bebiker.fr
        p 01.23.45.67.89
        nav
            ul
             li
               a(href='accueil.html') ACCUEIL
             li
               a(href='qui_sommes_nous.html') QUI SOMMES-NOUS ?
             li
                a(href='nos_services.html') SERVICES NOS